img {
  width: 300px;
  align-content: center;

}

h1 {
  color:#404040;
  font-family: inherit;
}

h2 {
  color:#404040;

}

h3 {
  color:#404040;

}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

body
{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

.my-profile img.banner-image-md{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px)
{

.intro-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
}
