img {
  width: 300px;
  align-content: center;

}

h1 {
  color:#350066
  font-family: cursive;
}

h2 {
  color:#350066

}

h3 {
  color:#350066

}

p.intro {

}

body {
  color: #5c00b3;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

html {
  color:#f3e6ff;
}
